body{ 
    margin: 0;
    padding: 0;   
    font-family: 'Roboto Condensed', sans-serif;
    
}


.product-grid{
    margin-top: 5rem;
    margin-bottom: 2rem; 
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}
.product-grid .product-image{
    box-shadow: 0 3px 12px -4px rgba(0,0,0,.12);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-grid:hover .product-image{
    box-shadow: 0 15px 15px -9px rgba(0,0,0,.3);
}
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
/*imagen 1*/
.product-image .pic-1{
    backface-visibility: hidden;
    transition: all .75s cubic-bezier(.785,.135,.15,.86);
}
.product-grid:hover .product-image .pic-1 { opacity: 0; }
.product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .75s cubic-bezier(.785,.135,.15,.86);
}
/*imagen dos y transicion*/
.product-grid:hover .product-image .pic-2{
    opacity: 1;
    transform: scale(1.09);
    
}
.product-grid .product-discount-label,
.product-grid .product-hot-label{
    color: #fff;
    background-color: #ff0000;
    text-align: center;
    width: 43px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 4px 1px;
    position: absolute;
    left: 10px;
    top: 10px ;
    border-radius: 5px;
}
 
/*ICONOS AL COSTADO*/
.product-grid .social{
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.12);
    opacity: 1;
    position: absolute;
    right: -100%;
    top: 15px;
    transition: all 0.45s ease;
}
.product-grid:hover .social{
    opacity: 1;
    right: 15px;
}
.product-grid .social li a{
    color: #333;
    background: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 42px;
    box-shadow: 0 -4px 5px -5px rgba(0,0,0,.5);
    display: block;
    position: relative;
    transition: all 0.3s ease 0s;
}
/*HOVER A LOS ICONOS DERECHA*/
.product-grid .social li:nth-child(1) a{ box-shadow: 0 0 0 0 transparent; }
.product-grid .social li a:hover{ color: #3867d6; }
.product-grid .social li a:before,
.product-grid .social li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color:#2a2a2a;
    font-size: 12px;
    line-height: 22px;
    white-space: nowrap;
    padding: 3px 5px;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    right: 52px;
    top: 50%;
    z-index: 1;
    
}
.product-grid .social li a:after{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform:translateY(-50%) rotate(45deg);
    right: 50px;
    z-index: 0;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    display:block;
}
.product-grid .product-content{
    text-align: center;
    padding: 15px 10px;
    position: relative;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
/*caja donde va los titulos */
.product-grid .product-content{
   /* background: linear-gradient(-45deg, #ffffff,#d6d6d6);*/
   background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 0 0 0 0 transparent; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0;
}
.product-grid .title a{ color: rgb(255, 255, 255);  }
.product-grid .title a:hover{ color: #ffffff;  text-decoration: none;}
.product-grid .product-category a{
    font-size: 14px;
    color: rgb(211, 211, 211);
    margin-bottom: 10px;
    display: block;
    text-decoration: none;  
}
.product-grid .price {
    color: #3867d6;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    
}
.product-grid .price span{
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 400;
    margin: 3px 0 0 2px;
    text-decoration: line-through;
    opacity: 0.5;
    vertical-align: top;
    display: inline-block;
    
}
.product-grid .price .add-to-cart{
    color: #fff;
    background: linear-gradient(-45deg, #00d412,#06b800);
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.3s linear 0s;
    text-decoration: none;
}
.product-grid .add-to-cart:hover {
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(-45deg, #00bd10,#059900);
}


/*PRECIO DEL PRODUCTO*/
.product-grid .price {
    color: #00028d;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
    margin: 5px;
    background: rgb(255, 255, 255);
    border-radius: 10px;   
}
.product-grid .price span{
    color: #525252;
    font-size: 14px;
    font-weight: 900;
    margin: 3px 0 0 9px;
    text-decoration: line-through;
    opacity: 0.5;
    vertical-align: top;
    display: inline-block;
    
}
/*.product-grid .price:hover {
    border-radius: 10px;
    text-decoration: none;
    background: #A770EF;  
    background: -webkit-linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); 
    background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF);
    }  */

.product-grid:hover .add-to-cart { opacity: 1; }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px;
 }
 .product-grid .price .add-to-cart{
    color: #fff;
    background: linear-gradient(-45deg, #00d412,#06b800);
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    bottom: 46px;
    transition: all 0.3s linear 0s;
}
.product-grid .add-to-cart:hover {
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(-45deg, #00bd10,#059900);
}

}
